<!DOCTYPE HTML>
<html>

<head>
  <title>Groot</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="assets/css/styleHead.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
	  <img class="image" src="/home/nineleaps/Downloads/logo1.png">
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="#">Projects</a></li>
          <li><a href="#">Insights</a></li>
	  <li><a href="#">Admin</a></li>
	</ul>
      </div>
    </div>
</div>
</body>
</html>