<nav class="navbar navbar-default navbar-fixed-top" id="nav" role="navigation" ng-controller="navbarController">
  <div class="container">
      <div id="main" class="navbar navbar-default navbar-fixed-top">
          <div id="header">
              <div class="pull-right lbtn" ng-click="logout()" ng-if="isLoggedIn">
                  <img  alt="image" class="img-circle img-responsive" ng-src="{{imageUrl}}" title="Logout"/>
                </div>
            <div id="logo">
              <div id="logo_text" ui-sref="projects">
                <a><img class="image" src="/assets/images/groot_header.png"></a>
              </div>
            </div>
            <div id="menubar">
              <ul id="menu" class="nav navbar-nav" ng-if="isLoggedIn">
                <li><a ui-sref="projects">Projects</a></li>
                <li><a ui-sref="insights">Insights</a></li>
                <li><a ui-sref="admin">Admin</a></li>
              </ul>
            </div>
          </div>
      </div>
  </div>
</nav>