<div class="modal inmodal" id="editProject" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content animated flipInY">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Edit Project Status</h4>
      </div>
      <div class="modal-body">
        <form class="m-t" role="form" ng-submit="submitForm()">
          <div class="form-group">

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="input-home">Account Status</label>
                </div>
              </div>

              <div class="col-md-6 pull-right">
                <div class="form-group">
                  <label class="input-home">Project Status</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <a ng-click="setAccountStatus('R')">
                  <div id="accountRed" ng-class="{ 'full-opacity': projectDetail.status[0].accountStatus === 'R', 'half-opacity': projectDetail.status[0].accountStatus !== 'R' }" class="col-md-4 color-code-red-history">
                  </div>
                </a>
                <a ng-click="setAccountStatus('Y')">
                  <div id="accountYellow" ng-class="{ 'full-opacity': projectDetail.status[0].accountStatus === 'Y', 'half-opacity': projectDetail.status[0].accountStatus !== 'Y' }" class="col-md-4 color-code-yellow-history">
                  </div>
                </a>
                <a ng-click="setAccountStatus('G')">
                  <div id="accountGreen" ng-class="{ 'full-opacity': projectDetail.status[0].accountStatus === 'G', 'half-opacity': projectDetail.status[0].accountStatus !== 'G' }"class="col-md-4 color-code-green-history">
                  </div>
                </a>
              </div>

              <div class="col-md-6">
                <a ng-click="setProjectStatus('R')">
                  <div id="proRed" ng-class="{ 'full-opacity': projectDetail.status[0].projectStatus === 'R', 'half-opacity': projectDetail.status[0].projectStatus !== 'R' }" class="col-md-4 color-code-red-history">
                  </div>
                </a>
                <a ng-click="setProjectStatus('Y')">
                  <div id="proYellow" ng-class="{ 'full-opacity': projectDetail.status[0].projectStatus === 'Y', 'half-opacity': projectDetail.status[0].projectStatus !== 'Y' }" class="col-md-4 color-code-yellow-history">
                  </div>
                </a>
                <a ng-click="setProjectStatus('G')">
                  <div id="proGreen" ng-class="{ 'full-opacity': projectDetail.status[0].projectStatus === 'G', 'half-opacity': projectDetail.status[0].projectStatus !== 'G' }" class="col-md-4 color-code-green-history">
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="input-home">Headline</label>
            <textarea type="text" class="form-control" placeholder="Headline" ng-model="project.headline" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-rounded btn-block">Update Project Status</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
