<ng-include src="'app/shared/templates/top-nav.html'"></ng-include>
<ng-include src="'app/shared/templates/footer.html'"></ng-include>
<ng-include src="'app/components/projectDetail/views/editProject.html'"></ng-include>

<div class="contanier-fluid upper-margin-projectDetail">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox">
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <h2 class="font-bold m-b-xs">{{projectDetail.name || 'Project Name'}}</h2>
                    <div class="m-t-md">
                      <h5 class="product-main-price">Last Account Status Update: <small class="product-main-price">  {{ projectDetail.status[0].accountStatusUpdatedAt | date:'dd-mm-yyyy'}}</small> </h5>
                      <h5 class="product-main-price">Last Project Status Update: <small class="product-main-price">  {{ projectDetail.status[0].projectStatusUpdatedAt | date:'dd-mm-yyyy'}}</small> </h5>
                    </div>
                  </div>
                  <div class="col-md-6 pull-right">
                    <div class="row">
                    <small class="account-text">Account Status</small><br/>
                    <div class="col-md-6 circle-margin" ng-if="!projectDetail.status[0]">
                      <div class="status-circle-green"></div>
                    </div>
                    <div class="col-md-6 circle-margin" ng-if="projectDetail.status[0].accountStatus === 'R'">
                      <div class="status-circle-red"></div>
                    </div>
                    <div class="col-md-6 circle-margin" ng-if="projectDetail.status[0].accountStatus === 'Y'">
                      <div class="status-circle-yellow"></div>
                    </div>
                    <div class="col-md-6 circle-margin" ng-if="projectDetail.status[0].accountStatus === 'G'">
                      <div class="status-circle-green"></div>
                    </div>
                  </div>
                  <div class="row">

                    <small class="account-text">Project Status</small><br/>
                    <div class="col-md-6 circle-margin" ng-if="!projectDetail.status[0]">
                      <div class="status-circle-green"></div>
                    </div>
                    <div class="col-md-6 circle-margin" ng-if="projectDetail.status[0].accountStatus === 'R'">
                      <div class="status-circle-red"></div>
                    </div>
                    <div class="col-md-6 circle-margin" ng-if="projectDetail.status[0].accountStatus === 'Y'">
                      <div class="status-circle-yellow"></div>
                    </div>
                    <div class="col-md-6 circle-margin" ng-if="projectDetail.status[0].accountStatus === 'G'">
                      <div class="status-circle-green"></div>
                    </div>
                  </div>
                  </div>
                </div>

                <hr>
                <h4>Headline</h4>
                <div class="small text-muted">
                  {{ projectDetail.status[0].headline || 'No Headline' }}
                  <br/>
                </div>
                <dl class="small m-t-md">
                  <dt>Accountable</dt>
                  <dd ng-repeat='project in projectDetail.racis'>{{ project.role==='A' ? project.name : ''}}</dd><br/>
                  <dt>Responsible</dt>
                  <dd ng-repeat='project in projectDetail.racis'>{{ project.role==='R' ? project.name : ''}}</dd><br/>
                  <dt>Consulted</dt>
                  <dd ng-repeat='project in projectDetail.racis'>{{ project.role==='C' ? project.name : ''}}</dd><br/>
                  <dt>Informed</dt>
                  <dd ng-repeat='project in projectDetail.racis'>{{ project.role==='I' ? project.name : ''}}</dd>
                </dl>
                <hr>
                <div>
                  <div class="btn-group">
                    <a data-toggle="modal" data-target="#editProject"><button class="btn btn-white btn-sm detail-button"><i class="fa fa-pencil"></i> Edit Status </button></a>
                    <a ui-sref="history({id:projectId})"><button class="btn btn-white btn-sm detail-button"><i class="fa fa-history"></i> See History</button></a>
                    <a><button class="btn btn-white btn-sm detail-button"><i class="fa fa-envelope"></i> Contact with RACI </button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ng-include src="'app/shared/templates/footer.html'"></ng-include> -->
