/* Space out content a bit */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.full-opacity {
  opacity: 1 !important;
  margin:1%;
}

.half-opacity {
  opacity: 0.3 !important;
  margin:1%;
}

/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow>hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p+h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*
Valdr styles
*/

.valdr-message {
  display: none;
}

.valdr-message.ng-dirty.ng-invalid.ng-touched {
  display: inline;
  color: #a94442;
}

.form-control {
  border: 1px solid #ccc;
}

.form-group .form-control.ng-invalid.ng-dirty.ng-touched {
  border-color: #a94442;
}

.form-group .form-control.ng-valid.ng-touched {
  border-color: #2b542c;
}

.alert.valdr-error-message {
  margin: 10px 0 0;
  padding: 6px 9px;
  position: relative;
}

.valdr-error-message:after, .valdr-error-message:before {
  bottom: 100%;
  left: 3%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.valdr-error-message:after {
  border-color: rgba(242, 222, 222, 0);
  border-bottom-color: #f2dede;
  border-width: 10px;
  margin-left: -10px;
}

.valdr-error-message:before {
  border-color: rgba(235, 204, 209, 0);
  border-bottom-color: #ebccd1;
  border-width: 11px;
  margin-left: -11px;
}

.valdr-error-message>li {
  list-style: none outside none;
}

.valdr-error-message ul.error-messages {
  padding-left: 5px;
}

.valdr-error-message ul.error-messages>li {
  list-style-position: inside;
  list-style-type: disc;
}

/* Animate */

.modal-animate.ng-enter, .modal-animate.ng-leave {
  transition: 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
  position: relative;
  display: block;
}

.modal-animate.ng-enter-active, .modal-animate.ng-leave {
  opacity: 1;
}

.modal-animate.ng-enter, .modal-animate.ng-leave {
  opacity: 0;
}

.footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid #e7eaec;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  right: 0;
}
