.login-form {
  width: 340px;
  margin: 150px auto;
}

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  padding: 30px;
}

.login-form h2 {
  margin: 0 0 15px;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
}

.nineleaps-color {
  background-color: #28426d;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
}

form-group>.nineleaps-color:hover {
  background-color: #28426d;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.signout {
  color: white;
}

.signout:hover {
  text-decoration: none;
  color: white;
}

.signout-div {
  margin: 12px;
  cursor: pointer;
  color: white;
}

.align-mid {
  display: table;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  line-height: 50px;
}

.loader {
  position: fixed;
  left: 0px;
  top: 100px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.little-margin {
  margin-top: 100px !important;
}

.universal-color {
  background-color: #347EBC
}

.radius-property {
  border-radius: 35px !important;
}

.search-button {
  border-radius: 35px !important;
  margin-left: -70px !important;
  height: 45px !important;
  z-index: 9999;
}

.give-width {
  width: 100% !important;
}

.filter-color {
  background-color: #23c6c8 !important;
  border-color: #23c6c8 !important;
  height: 46px;
}

.search-color {
  background-color: #49A9F9 !important;
  height: 100%;
  width: 100%;
}

.color-code-red {
  height: 30px;
  width: 33%;
  background-color: #FF4545;
  border-radius: 30px;
  margin-left: 14px;
}

.color-code-green {
  height: 30px;
  width: 29%;
  background-color: #02bb30;
  border-radius: 30px;
}

.color-code-yellow {
  height: 30px;
  width: 34%;
  background-color: #ffee2fc7;
  border-radius: 30px;
}

.color-code-red-history {
  height: 30px;
  width: 30px;
  background-color: #FF4545;
  border-radius: 30px;
}

.color-code-green--history {
  height: 30px;
  width: 30px;
  background-color: #02bb30;
  border-radius: 30px;
}

.color-code-yellow--history {
  height: 30px;
  width: 30px;
  background-color: #ffee2fc7;
  border-radius: 30px;
}

.bold-text {
  font-weight: 600;
  color: #23c6c8;
}

.projectname-margin {
  margin-top: 20px !important;
  color: #000000c7;
  font-size: 13px;
}

.upper-margin {
  margin-top: 20px !important;
}

.upper-margin-projectDetail {
  margin-top: 80px !important;
  width: 100%;
  height: 100%;
}

.align-row {
  margin: 0px !important;
  height: 100%;
  width: 100%;
  padding-top: 30px;
  background-color: inherit;
}

.fa-color {
  color: black !important;
  padding-left: 25px !important;
}

.account-text {
  color: #000000c7 !important;
}

.account-text-sub {
  color: #141923e6 !important;
}

.status-circle-red {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: red;
}

.status-circle-yellow {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: yellow;
}

.card-height {
  height: 240px;
}

.circle-margin {
  padding-top: 5px !important;
}

.detail-button {
  color: #676a6c !important;
}

.detail-button:hover {
  color: #676a6c !important;
}

.detail-button:focus {
  color: #676a6c !important;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: normal .90em 'trebuchet ms', arial, sans-serif;
  background: #FFF;
  color: #555;
}

p {
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

img {
  border: 0;
  width: 55%;
}

a:hover {
  background-color: #347EBC;
}

ul {
  margin: 2px 0 22px 17px;
}

ul li {
  list-style-type: circle;
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

ol {
  margin: 8px 0 22px 20px;
}

ol li {
  margin: 0 0 11px 0;
}

.left {
  float: left;
  width: auto;
  margin-right: 10px;
}

.right {
  float: right;
  width: auto;
  margin-left: 10px;
}

.center {
  display: block;
  text-align: center;
  margin: 20px auto;
}

#main, #logo, #site_content, #footer {
  margin-left: auto;
  margin-right: auto;
}

#header {
  background: #FFFFFF;
  border-bottom: 3px solid #347EBC;
  height: 70px;
  filter: drop-shadow(6px 2px 15px rgba(0, 0, 0, 0.4));
}

#logo {
  width: 250px;
  position: relative;
  background: transparent;
  float: left;
}

#logo #logo_text {
  top: 0px;
}

#logo h1, #logo h2 {
  font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
  padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;
}

#logo_text h1 a .logo_colour {
  color: #347EBC;
}

#logo_text a:hover .logo_colour {
  color: #000;
}

#logo_text h2 {
  font-size: 120%;
  padding: 4px 0 0 0;
  color: #FFF;
}

/* #menubar {
  width: 880px;
  height: 60px;
} */

ul#menu {
  float: left;
  margin: 1px 2px 0 0;
}

ul#menu li {
  float: left;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 1px 2px 0 0;
  background: transparent;
}

ul#menu li a:hover {
  font-weight: bold;
  background-color: #347EBC;
  background: #347EBC;
  color: #FFF;
}

ul#menu li a {
  font: normal 130% 'trebuchet ms', sans-serif;
  display: block;
  float: left;
  margin-top: 28px;
  padding: 10px 35px 8px 28px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

ul#menu li.selected a {
  height: 20px;
  padding: 6px 35px 5px 28px;
}

ul#menu li.selected {
  margin: 1px 2px 0 0;
  background: #347EBC;
}

ul#menu li.selected a, ul#menu li.selected a:hover {
  background: #347EBC;
  color: #000;
}

.image {
  float: left;
  text-shadow: 10px 10px gray;
  /* filter: drop-shadow(8px 10px 20px rgba(0, 0, 0, 0.6)); */
}
