<div class="container-fluid fill-height">
  <ng-include src="'app/shared/templates/top-nav.html'"></ng-include>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <div class="little-margin">
        <form method="get">
          <div class="input-group give-width">
            <input type="text" placeholder="   Search for projects..." name="search" class="form-control input-lg radius-property">
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-2 little-margin">
      <button class="btn btn-primary btn-lg filter-color" type="button"><i class="fa fa-filter"></i>Filter</button>
    </div>
  </div>
</div>
  <!-- <div class="row upper-margin">
    <div class="col-md-4 color-code-red">
    </div>
    <div class="col-md-4 color-code-yellow">
    </div>
    <div class="col-md-4 color-code-green">
    </div>
  </div> -->

  <div class="row align-row upper-margin">

    <div ng-repeat="project in projects">
    <a ui-sref="projectDetail">
      <div class="col-md-4">
        <div class="widget lazur-bg no-padding card-height">
          <div class="p-m main-pad">
            <h1 class="m-xs bold-text">{{project.name}}</h1>
            <h4 class="projectname-margin">{{project.status[0].headline || 'We are Groot'}}</h4>
            <small class="account-text">Account Status</small><br/>
            <div class="col-md-6 circle-margin" ng-if="!project.status[0]">
              <div class="status-circle-green"></div>
            </div>
            <div class="col-md-6 circle-margin" ng-if="project.status[0].accountStatus === 'R'">
              <div class="status-circle-red"></div>
            </div>
            <div class="col-md-6 circle-margin" ng-if="project.status[0].accountStatus === 'Y'">
              <div class="status-circle-yellow"></div>
            </div>
            <div class="col-md-6 circle-margin" ng-if="project.status[0].accountStatus === 'G'">
              <div class="status-circle-green"></div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <small class="account-text-sub">{{ project.status[0].accountStatusUpdatedAt | date:'dd-mm-yyyy'}}</small><br/>
              <small class="account-text-sub">Account Manager</small>
            </div>
            <div class="upper-card-project-margin">
              <small class="account-text">Project Status</small><br/>
              <div class="col-md-6 circle-margin" ng-if="!project.status[0]">
                <div class="status-circle-green"></div>
              </div>
              <div class="col-md-6 circle-margin" ng-if="project.status[0].accountStatus === 'R'">
                <div class="status-circle-red"></div>
              </div>
              <div class="col-md-6 circle-margin" ng-if="project.status[0].accountStatus === 'Y'">
                <div class="status-circle-yellow"></div>
              </div>
              <div class="col-md-6 circle-margin" ng-if="project.status[0].accountStatus === 'G'">
                <div class="status-circle-green"></div>
              </div>
              <div class="col-md-5 col-md-offset-1">
                <small class="account-text-sub">{{  project.status[0].projectStatusUpdatedAt | date:'dd-mm-yyyy' }}</small><br/>
                <small class="account-text-sub">Project Manager</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<!-- <div class="footer">
  <ng-include src="'app/shared/templates/footer.html'"></ng-include>
</div> -->
</div>
