<ng-include src="'app/components/projects/views/filter.html'"></ng-include>

<div class="container-fluid fill-height">
  <ng-include src="'app/shared/templates/top-nav.html'"></ng-include>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="little-margin">
          <form method="get">
            <div class="input-group give-width">
              <input type="text" placeholder="   Search for projects..." name="search" class="form-control input-lg radius-property">
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-2 little-margin">
        <a data-toggle="modal" data-target="#filter"><button class="btn btn-primary btn-lg filter-color" type="button"><i class="fa fa-filter"></i>Filter</button>
      </div>
    </div>
  </div>

<div class="row align-row upper-margin">

    <div ng-repeat="project in projects">

    <a ui-sref="projectDetail({id:project.id})">
      <div class="col-md-4">
        <div class="widget lazur-bg no-padding card-height">
          <div class="p-m main-pad">
            <h1 class="m-xs bold-text">{{project.name}}</h1>
            <h4 class="projectname-margin">{{project.status[0].headline || 'We are Groot'}}</h4>
            <small class="account-text">Account Status</small><br/>
            <div class="col-md-6 circle-margin" ng-if="!project.status[0]">
              <div class="status-circle-green"></div>
            </div>
            <div class="col-md-6 circle-margin" ng-if="project.status[0].accountStatus === 'R'">
              <div class="status-circle-red"></div>
            </div>
            <div class="col-md-6 circle-margin" ng-if="project.status[0].accountStatus === 'Y'">
              <div class="status-circle-yellow"></div>
            </div>
            <div class="col-md-6 circle-margin" ng-if="project.status[0].accountStatus === 'G'">
              <div class="status-circle-green"></div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <small class="account-text-sub">{{ project.status[0].accountStatusUpdatedAt | date:'yyyy-MM-dd'}}</small><br/>
              <small class="account-text-sub" ng-repeat='project in project.racis'>{{ project.role==='A' ? project.name : ''}}</small>
            </div>

            <div class="upper-card-project-margin">
              <small class="account-text">Project Status</small><br/>
              <div class="col-md-6 circle-margin" ng-if="!project.status[0]">
                <div class="status-circle-green"></div>
              </div>
              <div class="col-md-6 circle-margin" ng-if="project.status[0].projectStatus === 'R'">
                <div class="status-circle-red"></div>
              </div>
              <div class="col-md-6 circle-margin" ng-if="project.status[0].projectStatus === 'Y'">
                <div class="status-circle-yellow"></div>
              </div>
              <div class="col-md-6 circle-margin" ng-if="project.status[0].projectStatus === 'G'">
                <div class="status-circle-green"></div>
              </div>
              <div class="col-md-5 col-md-offset-1">
                <small class="account-text-sub">{{  project.status[0].projectStatusUpdatedAt | date:'yyyy-MM-dd' }}</small><br/>
                <small class="account-text-sub" ng-repeat='project in project.racis'>{{ project.role==='R' ? project.name : ''}}</small>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </a>
      </div>
    </div>
    <!-- <div class="footer">
  <ng-include src="'app/shared/templates/footer.html'"></ng-include>
</div> -->
